:root {
    --primary-color:#f2a5a9;
    --main-font:'Karla' , sans-serif;
    --secondary-font:'Montserrat' , sans-serif; 
}

.title-text {
    font-family:var(--main-font);
    font-weight: 700;
    font-size: 36px;
    color: var(--primary-color);
}

.paragraph-text {
    font-family: var(--secondary-font);
    font-size: 18px; 
}

nav {
   padding: 10px; 
}
nav li {
    display: inline;
    list-style: none;
    line-height: 10px;
    font-family: var(--main-font);
    font-size: 18px;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav a {
    margin-left: 15px;
    text-decoration: none;
    color: var(--primary-color);
}

nav a:hover {
    color: #ec787e;
    transition: all 100ms ease-in-out;
}

nav li.active a {
    color: #ec787e;
}

.hero-title {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 150px;
    color: var(--primary-color);
}

.hero-heading {
    font-family: var(--secondary-font);
    font-size: 42px;   
}

.hero {
    padding: 150px 100px;
    text-align: center;
}

.featuredProjects {
    padding: 20px;
}

.contactInfo {
    background: #fce8e9;
    padding: 20px;
}

.project-img {
    border-radius: 10%;
}

.btn {
    background-color: #fce8e9;
    font-family: 'Karla' , sans-serif;
    color: var(--primary-color);
    font-size: 24px;
    text-decoration: none;
    width: auto;
}

:hover .btn{
    color: var(--primary-color);
}

@media (max-width: 900px) {
    .hero-title {
        font-size: 96px;
    }
    .hero-heading {
        font-size: 36px;
    }

    .hero {
        padding: 0;
    }

    .featuredProjects {
        text-align: center;
    }

    .contactInfo {
        text-align: center;
    }
    .nav li {
        font-size: 10px;
        margin-left: 10px;

    }
}

.profile-img {
    border-radius: 10%;
}

.about-me {
    padding: 20px;
}

@media (max-width:900px) {
    .about-me {
        text-align: center;
    }
  

}

.socialIcons li {
    list-style: none;
    width: 80px;
    font-size: 24px;
    line-height: 65px;
}


.socialIcons {
    display:flex;
    flex-direction:row;
    justify-content: center;
}


.fab {
    color: var(--primary-color);
}

.fab:hover {
    color: #ec787e;
    transition: all 100ms ease-in-out;
}

.fa-solid {
    color: var(--primary-color);
}

.fa-solid:hover {
    color: #ec787e;
    transition: all 100ms ease-in-out;
}

footer {
    margin: auto;
    text-align: center;
}


footer .social-links a{
     margin: 0 20px;
     text-decoration: none;
}






