:root {
    --primary-color:#f2a5a9;
}
.main-font {
    font-family: 'Karla' , sans-serif;
    font-weight: 700;
    font-size: 100px;
    color: var(--primary-color);

}

.secondary-font {
    font-family: 'Montserrat' , sans-serif; 
    font-size: 42px;
    
}

.hero {
    padding: 100px 90px;
    text-align: center;
}